{%extends 'base.html'%} {%block content%}{%load crispy_forms_tags%}
  <div class='p-3'>
    <div class='p-5'>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Blance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user.username}}</th>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{account.balance}}</td>
    </tr>
  </tbody>
</table>
    </div>
    <div class=' px-5'>
      <a class="btn btn-success" href="{%url 'edit'%}"> Edit Profile </a>
    <a class="btn btn-danger" href="{%url 'password'%}"> Change Password </a>
    </div>
  </div>

<div class="mt-5">
  <h2 class='text-center pb-3'>Borrowing History:</h2>
  {%for b in borrowed_books%}
<div class="d-flex justify-content-center align-items-center">
<div class="card d-flex justify-content-center align-items-center m-2" style="width:300px; height:auto">
  <img
    src="{{b.book.image.url}}"
    class="card-img-top"
    alt="..."
    style="width: 180px"
  />
  <div class="card-body">
    <h5 class="card-title">{{b.book.title}}</h5>
    <p>Borrowed: {{b.borrow_count}}</p>
    <p>Borrowed at: {{b.borrowing_date}}</p>
 
    <a href="{%url 'rating' b.book.id%}" class="btn btn-warning">Rate The Book</a>
  </div>
</div>
  {%endfor%}
</div>
{%endblock%}
